


from django.test import TestCase
from django.urls import reverse
from django.contrib.auth import get_user_model

class DoormotCustomLoginViewTest(TestCase):
    def setUp(self):
        self.login_url = reverse('login')  # Update with your actual URL name for the login view

    def test_successful_login(self):
        # Create a test user
        user = get_user_model().objects.create_user(username='testuser', email='test@example.com', password='testpassword')

        # Simulate a GET request to the login view
        response = self.client.get(self.login_url)
        self.assertEqual(response.status_code, 200)

        # Simulate a POST request with valid login credentials
        response = self.client.post(self.login_url, {'username': 'testuser', 'password': 'testpassword'})
        
        # Assuming you expect a successful login to redirect to the home page
        self.assertRedirects(response, reverse('home'))  # Update with your actual URL name for the home page

        # Check if the user is logged in
        self.assertTrue('_auth_user_id' in self.client.session)

    def test_unsuccessful_login(self):
        # Simulate a GET request to the login view
        response = self.client.get(self.login_url)
        self.assertEqual(response.status_code, 200)

        # Simulate a POST request with invalid login credentials
        response = self.client.post(self.login_url, {'username': 'invaliduser', 'password': 'invalidpassword'})

        # Assuming you expect an unsuccessful login to stay on the login page
        self.assertEqual(response.status_code, 200)
        self.assertContains(response, 'Error: Login Failed!')

        # Check if the user is not logged in
        self.assertFalse('_auth_user_id' in self.client.session)


class post_property(View):
    def get(self, request):
        for_sale = request.GET.get('for_sale')
        request.session['for_sale'] = for_sale
        allowed_user_type = ['Individual_owner', 'Private_org_owner', 'Independent_agent', 'Official_agent']

        user_type = request.session.get('user_type')
        user_pk = request.session.get('user')
        user = return_user_object(user_pk, user_type)

        form = None
        name = None

        if for_sale == "Yes":
            name = "For Sale Property"
            form = For_Sale_Listed_Properties_Form(request.POST, request.FILES)
        elif for_sale == "No":
            name = "To Let Property"
            form = To_Let_Listed_Properties_Form(request.POST, request.FILES)

        return render(request, 'doormot_property_listing/upload_property.html', {'user':user, 'user_type':user_type, 'allowed_user_type':allowed_user_type, 'form':form, 'name':name})
        

    def post(self, request):
        user_type = request.session.get('user_type', 'Individual_owner')
        user_pk = request.session.get('user')
        for_sale = request.session.get('for_sale')
        

        max_image_size = 1 * 1024 * 1024 

        allowed_user_type = ['Individual_owner', 'Private_org_owner', 'Independent_agent', 'Official_agent']
        if user_type not in allowed_user_type:
            print('You are not a recognized user!')
            return render(request, 'doormot_property_listing/listing.html', {"title":"Listing", "user":user, 'allowed_user_type':allowed_user_type})
        else:
            user = return_user_object(user_pk, user_type)

        form = None
        if for_sale == "Yes":
            name = "For Sale Property"
            form = For_Sale_Listed_Properties_Form(request.POST, request.FILES)
        elif for_sale == "No":
            name = "To Let Property"
            form = To_Let_Listed_Properties_Form(request.POST, request.FILES)      
        
        if request.method == 'POST':

            images = request.FILES.getlist('images')

            if form.is_valid(): 
                if for_sale == "Yes":
                    try:
                        property_instance = For_Sale_Listed_Properties.objects.create(
                            uploaded_by=user,
                            title=title,
                            closest_landmark=closest_landmark,
                            description=description,

                            asking_price=asking_price,
                            property_status=property_status,
                            property_type=property_type,

                            no_of_livingrooms=no_of_livingrooms,
                            no_of_bedrooms=no_of_bedrooms,
                            no_of_bathrooms=no_of_bathrooms,
                            no_of_kitchens=no_of_kitchens,

                            size_of_property_by_square_footage=size_of_property_by_square_footage,
                            size_of_property_by_plot=size_of_property_by_plot,

                            address=address,
                            city=city,
                            state=state,
                            zip_code=zip_code,
                            local_government=local_government,
                        )
                            
                        property_instance.save()
                    except Exception as e:
                        property_instance.delete()
                        message = f"There was an Error: {e}. Please start over aagain!"
                        return render(request, 'doormot_property_listing/upload_property.html', {'user':user, 'user_type':user_type, 'allowed_user_type':allowed_user_type, 'form':form, 'name':name, 'message':message})

       
                elif for_sale == "No":
                    try:
                        property_instance = To_Let_Listed_Properties.objects.create(
                            uploaded_by=user,
                            title=title,
                            closest_landmark=closest_landmark,
                            description=description,

                            rent_price=rent_price,
                            property_status=property_status,
                            property_type=property_type,

                            bathroom_is_available=bathroom_is_available,
                            toilet_is_available=toilet_is_available,
                            water_is_available=water_is_available,
                            good_power_supply=good_power_supply,
                            owner_lives_in_property=owner_lives_in_property,

                            address=address,
                            city=city,
                            state=state,
                            zip_code=zip_code,
                            local_government=local_government,
                        )
                            
                        property_instance.save()
                    except Exception as e:
                        property_instance.delete()
                        message = f"There was an Error: {e}. Please start over aagain!"
                        return render(request, 'doormot_property_listing/upload_property.html', {'user':user, 'user_type':user_type, 'allowed_user_type':allowed_user_type, 'form':form, 'name':name, 'message':message})

                    
                
                if len(images) <=12:
                    try:
                        if not image.content_type.startwith('image'):
                            raise ValidationError("File is not an image. Please upload images only")
                            
                        for file in images:
                            if file.size > max_image_size:
                                # handles case where an image is too large
                                message = "You cannot upload an image over 1MB in size!"
                                return render(request, 'doormot_property_listing/upload_property.html', {'user':user, 'user_type':user_type, 'allowed_user_type':allowed_user_type, 'form':form, 'name':name, 'message':message})
                            
                            if for_sale == "Yes":
                                property_image_instance = For_Sale_Properties_Images.objects.create(
                                    connected_property = property_instance,
                                    images = image
                                )
                            
                            if for_sale == "No":
                                property_image_instance = To_Let_Properties_Images.objects.create(
                                    connected_property = property_instance,
                                    images = image
                                )
                    except ValidationError as e:
                        # handle validation error
                        property_instance.delete()
                        message = f"There was an Error {e}. Please "
                        return render(request, 'doormot_property_listing/upload_property.html', {'user':user, 'user_type':user_type, 'allowed_user_type':allowed_user_type, 'form':form, 'name':name, 'message':message})                   
                else:
                    # handles case where more than 12 images are selected
                    property_instance.delete()
                    message = "You cannot upload more than 12 images!"
                    return render(request, 'doormot_property_listing/upload_property.html', {'user':user, 'user_type':user_type, 'allowed_user_type':allowed_user_type, 'form':form, 'name':name, 'message':message})
            else:
                form = To_Let_Listed_Properties_Form()
                message = "Something was wrong with form validation! \n Please choose if property is for sale"
                return render(request, 'doormot_property_listing/upload_property.html', {'user':user, 'user_type':user_type, 'allowed_user_type':allowed_user_type, 'form':form, 'name':name, 'message':message})
            

        success_message = "Congratulations, you have uploaded a property successfully! \n Please choose if property is for sale to upload another one."
        return render(request, 'doormot_property_listing/upload_property.html', {'user':user, 'user_type':user_type, 'allowed_user_type':allowed_user_type, 'form':form, 'name':name, 'message':success_message})
            













<!--Agent Information-->
password 
last_login 
username 
email
gender
phone_number 

first_name
middle_name
last_name

state_of_origin 
town_of_origin
local_government_of_origin 
origin_home_address
state_of_residence 
town_of_residence 
local_government_of_residence 
current_home_address
date_of_birth 

image
video 

<!--AGENT NEXT-OF-KIN INFORMATION-->
next_of_kin_email
next_of_kin_phone_number 
next_of_kin_image 
next_of_kin_first_name 
next_of_kin_middle_name 
next_of_kin_last_name
next_of_kin_gender 
next_of_kin_state_of_origin
next_of_kin_town_of_origin
next_of_kin_local_government_of_origin 
next_of_kin_state_of_residence 
next_of_kin_town_of_residence
next_of_kin_local_government_of_residence 
next_of_kin_current_home_address
next_of_kin_current_office_address
next_of_kin_profession
next_of_kin_date_of_birth

<!--AGENT GUARANTOR INFORMATION-->
guarantor_email 
guarantor_phone_number
guarantor_image
guarantor_first_name
guarantor_middle_name
guarantor_last_name 
guarantor_gender 
guarantor_state_of_origin
guarantor_town_of_origin 
guarantor_local_government_of_origin
guarantor_state_of_residence
guarantor_town_of_residence 
guarantor_local_government_of_residence
guarantor_current_home_address
guarantor_current_office_address
guarantor_profession
guarantor_date_of_birth




<div class="block border border-full rounded-lg shadow-md shadow-gray-800  bg-slate-200 p-6 m-4">
    <div class="p-2 text-2xl text-purple-900 text-center text-extrabold">
        <h6>Next-Of-Kin's Information</h6>
        <hr>
    </div>

    <div>
        {{ next_of_kin_form | crispy }}
    </div>
</div>

<div class="block border border-full rounded-lg shadow-md shadow-gray-800  bg-slate-200 p-6 m-4">
    <div class="p-2 text-2xl text-purple-900 text-center text-extrabold">
        <h6>Guarantor's Information</h6>
        <hr>
    </div>
    <div>
        {{ guarantor_form | crispy }}
    </div>
</div>

{% block free-section %}
<div class="bg-purple-950 hidden lg:flex lg:justify-center text-white">
    <h6>REGISTER</h6>
</div>

<div class="flex justify-center items-center md:py-10">
    <div class="container px-5 mx-5 border border-full rounded-lg shadow-md shadow-gray-800  bg-slate-200">
        <form method="post" class="p-4 m-2">
            <legend class="py-3 my-3 text-center bg-purple-950 text-white"><small>Independent-Agent-Registration</small></legend>
            {% csrf_token %}
            <div class="">
                <div class="block border border-full rounded-lg shadow-md shadow-gray-800  bg-slate-200 p-6 mx-2">
                    <div class="p-2 text-2xl text-purple-900">
                        <h6>Agent's Information</h6>
                        <hr>
                    </div>

                    <div class="py-3">
                        <div class="p-1">
                            <label>Username</label>
                            {{ form.username }}
                        </div>
                        <div class="p-1">
                            <label>Password</label>
                            {{ form.password1 }}
                        </div>
                        <div class="p-1">
                            <label>Confirm Password</label>
                            {{ form.password2 }}
                        </div>
                        <div class="p-1">
                            <label>Email</label>
                            {{ form.email }}
                        </div>
                        <div class="p-1">
                            <label>Phone Number</label>
                            {{ form.phone_number }}
                        </div>
                        <div class="p-1">
                            <label>Gender</label>
                            {{ form.agent_gender }}
                        </div>
                    </div>

                    <div class="py-3">
                        <div class="p-1">
                            <label>First Name</label>
                            {{ form.first_name }}
                        </div>
                        <div class="p-1">
                            <label>Middle Name</label>
                            {{ form.middle_name }}
                        </div>
                        <div class="p-1">
                            <label>Last Name</label>
                            {{ form.last_name }}
                        </div>
                        <div class="p-1">
                            <label>Date Of Birth</label>
                            {{ form.date_of_birth }}
                        </div>
                    </div>

                    <div class="py-3">
                        <div class="p-1">
                            <label>State Of Origin</label>
                            {{ form.state_of_origin }}
                        </div>
                        <div class="p-1">
                            <label>Local Government Of Origin</label>
                            {{ form.local_government_of_origin }}
                        </div>
                        <div class="p-1">
                            <label>Town Of Origin</label>
                            {{ form.town_of_origin }}
                        </div>
                        <div class="p-1">
                            <label>Origin Home Address</label>
                            {{ form.origin_home_address }}
                        </div>
                    </div>

                    <div class="py-3">
                        <div class="p-1">
                            <label>State Of Residence</label>
                            {{ form.state_of_residence }}
                        </div>
                        <div class="p-1">
                            <label>Local Government Of Residence</label>
                            {{ form.local_government_of_residence }}
                        </div>
                        <div class="p-1">
                            <label>Town Of Residence</label>
                            {{ form.town_of_residence }}
                        </div>
                        <div class="p-1">
                            <label>Current Home Address</label>
                            {{ form.current_home_address }}
                        </div>
                    </div>

                    <div class="py-1">
                        <div class="p-1">
                            <label>Image</label>
                            {{ form.image }}
                        </div>
                        <div class="p-1">
                            <label>Video</label>
                            {{ form.video }}
                        </div>
                    </div>
                </div>
    

                <div class="block border border-full rounded-lg shadow-md shadow-gray-800  bg-slate-200 p-6 mx-2">
                    <div class="p-2 text-2xl text-purple-900 text-extrabold">
                        <h6>Next-Of-Kin's Information</h6>
                        <hr>
                    </div>

                    <div class="py-3">
                        <div class="p-1">
                            <label>Email</label>
                            {{ form.next_of_kin_email }}
                        </div>
                        <div class="p-1">
                            <label>Phone Number</label>
                            {{ form.next_of_kin_phone_number }}
                        </div>
                        <div class="p-1">
                            <label>Gender</label>
                            {{ form.next_of_kin_gender }}
                        </div>
                    </div>

                    <div class="py-3">
                        <div class="p-1">
                            <label>First Name</label>
                            {{ form.next_of_kin_first_name }}
                        </div>
                        <div class="p-1">
                            <label>Middle Name</label>
                            {{ form.next_of_kin_middle_name }}
                        </div>
                        <div class="p-1">
                            <label>Last Name</label>
                            {{ form.next_of_kin_last_name }}
                        </div>
                        <div class="p-1">
                            <label>Date Of Birth</label>
                            {{ form.next_of_kin_date_of_birth }}
                        </div>
                    </div>

                    <div class="py-3">
                        <div class="p-1">
                            <label>State Of Origin</label>
                            {{ form.next_of_kin_state_of_origin }}
                        </div>
                        <div class="p-1">
                            <label>Local Government Of Origin</label>
                            {{ form.next_of_kin_local_government_of_origin }}
                        </div>
                        <div class="p-1">
                            <label>Town Of Origin</label>
                            {{ form.next_of_kin_town_of_origin }}
                        </div>
                    </div>

                    <div class="py-3">
                        <div class="p-1">
                            <label>State Of Residence</label>
                            {{ form.next_of_kin_state_of_residence }}
                        </div>
                        <div class="p-1">
                            <label>Local Government Of Residence</label>
                            {{ form.next_of_kin_local_government_of_residence }}
                        </div>
                        <div class="p-1">
                            <label>Town Of Residence</label>
                            {{ form.next_of_kin_town_of_residence }}
                        </div>
                        <div class="p-1">
                            <label>Current Home Address</label>
                            {{ form.next_of_kin_current_home_address }}
                        </div>
                    </div>
                </div>


                <div class="block border border-full rounded-lg shadow-md shadow-gray-800  bg-slate-200 p-6 mx-2">
                    <div class="p-2 text-2xl text-purple-900 text-center text-extrabold">
                        <h6>Guarantor's Information</h6>
                        <hr>
                    </div>

                    <div class="py-3">

                        <div class="p-1">
                            <label>Email</label>
                            {{ form.guarantor_email }}
                        </div>
                        <div class="p-1">
                            <label>Phone Number</label>
                            {{ form.guarantor_phone_number }}
                        </div>
                        <div class="p-1">
                            <label>Gender</label>
                            {{ form.guarantor_gender }}
                        </div>
                    </div>

                    <div class="py-3">
                        <div class="p-1">
                            <label>First Name</label>
                            {{ form.guarantor_first_name }}
                        </div>
                        <div class="p-1">
                            <label>Middle Name</label>
                            {{ form.guarantor_middle_name }}
                        </div>
                        <div class="p-1">
                            <label>Last Name</label>
                            {{ form.guarantor_last_name }}
                        </div>
                        <div class="p-1">
                            <label>Date Of Birth</label>
                            {{ form.guarantor_date_of_birth }}
                        </div>
                    </div>

                    <div class="py-3">
                        <div class="p-1">
                            <label>State Of Origin</label>
                            {{ form.guarantor_state_of_origin }}
                        </div>
                        <div class="p-1">
                            <label>Local Government Of Origin</label>
                            {{ form.guarantor_local_government_of_origin }}
                        </div>
                        <div class="p-1">
                            <label>Town Of Origin</label>
                            {{ form.guarantor_town_of_origin }}
                        </div>
                    </div>

                    <div class="py-3">
                        <div class="p-1">
                            <label>State Of Residence</label>
                            {{ form.guarantor_state_of_residence }}
                        </div>
                        <div class="p-1">
                            <label>Local Government Of Residence</label>
                            {{ form.guarantor_local_government_of_residence }}
                        </div>
                        <div class="p-1">
                            <label>Town Of Residence</label>
                            {{ form.guarantor_town_of_residence }}
                        </div>
                        <div class="p-1">
                            <label>Current Home Address</label>
                            {{ form.guarantor_current_home_address }}
                        </div>
                        <div class="p-1">
                            <label>Profession</label>
                            {{ form.guarantor_profession }}
                        </div>                        
                        <div class="p-1">
                            <label>Current Office Address</label>
                            {{ form.guarantor_current_office_address }}
                        </div>
                    </div>
                </div>

            </div>
            <div class="flex justify-center items-center py-5">
                <button type="submit" class="bg-purple-700 hover:bg-orange-600 border border-orange-600 rounded-md text-white text-sm px-4 py-1">Register</button>
            </div>
        </form>
    </div>

</div>
{% endblock free-section %}






<!-- 

{% block navlist %}
<li class="hover:text-orange-600 hover:font-extrabold"><a href="{% url 'doormot-reg-users-register' %}" class="active">REGISTER</a></li>
  
<li class="relative group">
    <a href="#" class="hover:text-orange-600 hover:font-extrabold">OWNER</a>
    <ul class="absolute hidden left-0 mt-2 space-y-2 bg-purple-950 border rounded-lg shadow-lg group-hover:block">
        <li><a href="{% url 'doormot-reg-users-individual-owner' %}" class="block px-4 py-2 hover:text-orange-600 hover:font-extrabold">Individual</a></li>
        <li><a href="{% url 'doormot-reg-users-private-organization-owner' %}" class="block px-4 py-2 hover:text-orange-600 hover:font-extrabold">Organization</a></li>
        <li><a href="#" class="block px-4 py-2 hover:text-orange-600 hover:font-extrabold">Government</a></li>
    </ul>
</li>

<li class="relative group">
    <a href="#" class="hover:text-orange-600 hover:font-extrabold">TENANT</a>
    <ul class="absolute hidden mt-2 space-y-2 bg-purple-950 border rounded-lg shadow-lg group-hover:block">
        <li><a href="{% url 'doormot-reg-users-individual-tenant' %}" class="block px-4 py-2 hover:text-orange-600 hover:font-extrabold">Individual</a></li>
        <li><a href=" {% url 'doormot-reg-users-private-organization-tenant' %}" class="block px-4 py-2 hover:text-orange-600 hover:font-extrabold">Organization</a></li>
        <li><a href="#" class="block px-4 py-2 hover:text-orange-600 hover:font-extrabold">Government</a></li>
    </ul>
</li>

<li class="relative group">
    <a href="#" class="hover:text-orange-600 hover:font-extrabold">BUYER</a>
    <ul class="absolute hidden mt-2 space-y-2 bg-purple-950 border rounded-lg shadow-lg group-hover:block">
        <li><a href="#" class="block px-4 py-2 hover:text-orange-600 hover:font-extrabold">Individual</a></li>
        <li><a href="#" class="block px-4 py-2 hover:text-orange-600 hover:font-extrabold">Organization</a></li>
        <li><a href="#" class="block px-4 py-2 hover:text-orange-600 hover:font-extrabold">Government</a></li>
    </ul>
</li>

<li class="relative group">
    <a href="#" class="hover:text-orange-600 hover:font-extrabold">AGENT</a>
    <ul class="absolute hidden mt-2 space-y-2 bg-purple-950 border rounded-lg shadow-lg group-hover:block">
        <li><a href="{% url 'doormot-reg-users-official-agent' %}" class="block px-4 py-2 hover:text-orange-600 hover:font-extrabold">Official</a></li>
        <li><a href="{% url 'doormot-reg-users-independent-agent' %}" class="block px-4 py-2 hover:text-orange-600 hover:font-extrabold">Independent</a></li>
    </ul>
</li>

<li class="hover:text-orange-600 hover:font-extrabold"><a href="#">PARTNER</a></li>
{% endblock navlist %}

{% block navlist-right-header %}
<li class="m-2 md:border md:border-full md:justify-center md:items-center md:border-orange-600 md:rounded-full px-2 py-1 md:bg-purple-700 md:hover:bg-orange-600"><a href="{% url 'doormot-login' %}"><small>Login</small></a></li>
<li class="m-2 md:border md:border-full md:justify-center md:items-center md:border-orange-600 md:rounded-full px-2 py-1 md:bg-purple-700 md:hover:bg-orange-600"><a href="{% url 'doormot-home' %}"><small>Home</small></a></li>
{% endblock navlist-right-header %}


{% block top-section %}
<div class="h-72 overflow-hidden">
    <img src="{% static 'doormot_app/blog-1.jpg' %}"  alt="The house image" class="w-full h-full object-cover">
</div>
{% endblock top-section %}

{% block top-2nd-section %}
<div class="bg-black opacity-70 w-full h-70 grid grid-cols-2 overflow-hidden">
    <div class="px-3 py-1 m-2 col-span-1">
        <div class="text-5xl font-serif py-2 m-2 font-extrabold text-orange-600 text-center bg-black rounded-lg">
          <h6>Discover Your<br>Perfect <span class="text-white">HOME</span></h6>
        </div>
    </div>
    <div class="text-white px-3 py-2 m-2 col-span-1">
        <p>Helping renters and buyers find the perfect property.</p>
        <p>Explore and experience property rentals and sales in the most modern way</p>
        <div class="text-3xl font-serif py-2 m-2 font-extrabold text-white text-start bg-black rounded-lg">
            <h6>Buy, Sell, Rent and Lease With Ease!</h6>
        </div>
    </div>
</div>
{% endblock top-2nd-section %}


{% block free-section %}

<div>
    <div class="flex flex-wrap">
        <div class="w-2/5 border-full border-2 border-purple-950">
            <div class="overflow-hidden h-96 p-2">
                <img src="{% static 'doormot_app/blog-1.jpg' %}"  alt="The house image" class="w-full h-full object-cover">
            </div>
        </div>
        
        <div class="w-3/5 p-3 font-serif">
            <div class="bg-purple-950 text-center text-1xl text-white font-serif font-extrabold">
                <h1 class="py-2">Knowing Your Position</h1>
            </div>
            <div class="p-1 m-2">
                <h4>Find Your Ideal Property Today!</h4><br>
                <p>
                    We specialize in turning your dreams into reality.<br>
                    We are your trusted partner in finding your befitting property.<br>
                    Connecting renters, buyers, and sellers seamlessly while prioritizing all parties best interests and safety.<br>
                    Take the first step towards a secure and swift journey to your new home.<br>
                    Click below to find your dream property now!"
                </p>
            </div> 
            <div>
                <button type="submit" class="bg-purple-700 hover:bg-orange-600 border border-orange-600 rounded-md text-white text-sm px-4 py-1">Find Your Dream Home</button>
            </div>
        </div>   
    </div>
</div>

{% endblock free-section %} -->



# # Individual Owner Login View
# class Individual_Owner_Login_View(View):
#     def get(self, request):
#         form = Individual_Owner_Login_Form()
#         return render(request, 'doormot_reg_users/individual_owner_login.html', {'title':'Individual-Owner-Login', 'form':form})

#     def post(self, request):
#         username = request.POST.get('username')
#         password = request.POST.get('password')

#         user = authenticate(request, username=username, password=password)

#         if user is not None:
#             if user.is_active:
#                 login(request, user)
#                 return redirect('doormot-home')
#             else:
#                 return redirect('doormot-reg-users-account-disabled')
#         else:
#             return redirect('doormot-reg-users-login-failed')



# # Official Agent Login View
# class Official_Agent_Login_View(View):
#     def get(self, request):
#         form = Official_Agent_Login_Form()
#         return render(request, 'doormot_reg_users/official_agent_login.html', {'title':'Official-Agent-Login', 'form':form})

#     def post(self, request):
#         email = request.POST.get('email')
#         password = request.POST.get('password')

#         user = authenticate(request, email=email, password=password)

#         if user is not None:
#             if user.is_active:
#                 login(request, user)
#                 return redirect('doormot-home')
#             else:
#                 return redirect('doormot-reg-users-account-disabled')
#         else:
#             return redirect('doormot-reg-users-login-failed')







class post_property(View):
    def get(self, request):
        for_sale = request.GET.get('for_sale')
        request.session['for_sale'] = for_sale
        allowed_user_type = ['Individual_owner', 'Private_org_owner', 'Independent_agent', 'Official_agent']

        user_type = request.session.get('user_type')
        user_pk = request.session.get('user')
        user = return_user_object(user_pk, user_type)

        form = None # Create a None form variable to avoid UnboundLocalError 
        name = None # Create a None name variable to avoid UnboundLocalError
        # UnboundLocalError (local variable referenced before assignment)

        if for_sale == "Yes":
            name = "For Sale Property"
            form = For_Sale_Listed_Properties_Form(request.POST, request.FILES)
        elif for_sale == "No":
            name = "To Let Property"
            form = To_Let_Listed_Properties_Form(request.POST, request.FILES)
        else:
            name = "None"
            form = None
        return render(request, 'doormot_property_listing/upload_property.html', {'user': user, 'user_type': user_type, 'allowed_user_type': allowed_user_type, 'form': form, 'name': name, 'for_sale':for_sale})

    def post(self, request):
        user_type = request.session.get('user_type', 'Individual_owner')
        user_pk = request.session.get('user')
        for_sale = request.session.get('for_sale')

        max_image_size = 1 * 1024 * 1024 

        allowed_user_type = ['Individual_owner', 'Private_org_owner', 'Independent_agent', 'Official_agent']
        if user_type not in allowed_user_type:
            return render(request, 'doormot_property_listing/listing.html', {"title": "Listing", "user": user, 'allowed_user_type': allowed_user_type})
        else:
            user = return_user_object(user_pk, user_type)

        # A form instance to avoid UnboundLocalError 
        # A name variable to avoid UnboundLocalError
        # UnboundLocalError (local variable referenced before assignment)
        form = To_Let_Listed_Properties_Form(request.POST, request.FILES) 
        name = "To Let Property" 
        

        if for_sale == "Yes":
            name = "For Sale Property"
            form = For_Sale_Listed_Properties_Form(request.POST, request.FILES)
        elif for_sale == "No":
            name = "To Let Property"
            form = To_Let_Listed_Properties_Form(request.POST, request.FILES)

        if request.method == 'POST':
            images = request.FILES.getlist('images')

            if form.is_valid():
                try:
                    # Extract form data coomon to both fomrms
                    title = form.cleaned_data.get('title')
                    closest_landmark = form.cleaned_data.get('closest_landmark')
                    description = form.cleaned_data.get('description')
                    
                    address = form.cleaned_data.get('address')
                    city = form.cleaned_data.get('city')
                    state = form.cleaned_data.get('state')
                    zip_code = form.cleaned_data.get('zip_code')
                    local_government = form.cleaned_data.get('local_government')

                    # Additional fields for "Yes"
                    if for_sale == "Yes":
                        asking_price = form.cleaned_data.get('asking_price')
                        property_status = form.cleaned_data.get('property_status')
                        property_type = form.cleaned_data.get('property_type')

                        no_of_livingrooms = form.cleaned_data.get('no_of_livingrooms')
                        no_of_bedrooms = form.cleaned_data.get('no_of_bedrooms')
                        no_of_bathrooms = form.cleaned_data.get('no_of_bathrooms')
                        no_of_kitchens = form.cleaned_data.get('no_of_kitchens')

                        size_of_property_by_square_footage = form.cleaned_data.get('size_of_property_by_square_footage')
                        size_of_property_by_plot = form.cleaned_data.get('size_of_property_by_plot')
                        year_developed = form.cleaned_data.get('year_developed')

                    # Additional fields for "No"
                    elif for_sale == "No":
                        rent_price = form.cleaned_data.get('rent_price')
                        property_status = form.cleaned_data.get('property_status')
                        property_type = form.cleaned_data.get('property_type')
                        is_available_for_lease = form.cleaned_data.get('is_available_for_lease')

                        bathroom_is_available = form.cleaned_data.get('bathroom_is_available')
                        toilet_is_available = form.cleaned_data.get('toilet_is_available')
                        water_is_available = form.cleaned_data.get('water_is_available')
                        good_power_supply = form.cleaned_data.get('good_power_supply')
                        owner_lives_in_property = form.cleaned_data.get('owner_lives_in_property')

                    # Create property instance
                    if for_sale == "Yes":
                        for_sale_property_instance = For_Sale_Listed_Properties.objects.create(
                            uploaded_by_content_type=ContentType.objects.get_for_model(user),
                            uploaded_by_object_id=user_pk,

                            title=title,
                            closest_landmark=closest_landmark,
                            description=description,

                            asking_price=asking_price,
                            property_status=property_status,
                            property_type=property_type,

                            no_of_livingrooms=no_of_livingrooms,
                            no_of_bedrooms=no_of_bedrooms,
                            no_of_bathrooms=no_of_bathrooms,
                            no_of_kitchens=no_of_kitchens,

                            size_of_property_by_square_footage=size_of_property_by_square_footage,
                            size_of_property_by_plot=size_of_property_by_plot,
                            year_developed = year_developed,

                            address=address,
                            city=city,
                            state=state,
                            zip_code=zip_code,
                            local_government=local_government,
                        )
                        # Save property instance - For Sale
                        for_sale_property_instance.save()
                        
                    elif for_sale == "No":
                        to_let_property_instance = To_Let_Listed_Properties.objects.create(
                            uploaded_by_content_type=ContentType.objects.get_for_model(user),
                            uploaded_by_object_id=user_pk,

                            title=title,
                            closest_landmark=closest_landmark,
                            description=description,

                            rent_price=rent_price,
                            property_status=property_status,
                            property_type=property_type,
                            is_available_for_lease=is_available_for_lease,

                            bathroom_is_available=bathroom_is_available,
                            toilet_is_available=toilet_is_available,
                            water_is_available=water_is_available,
                            good_power_supply=good_power_supply,
                            owner_lives_in_property=owner_lives_in_property,

                            address=address,
                            city=city,
                            state=state,
                            zip_code=zip_code,
                            local_government=local_government,
                        )
                        # Save property instance - To Let
                        to_let_property_instance.save()
                       
                    # Image handling
                    if len(list(images)) < 13: # Check if number of images is not more than 12
                        image_list = []
                        for image in images:
                            if not image.content_type.startswith('image'):
                                self.del_property_instance(for_sale=for_sale, to_let_property_instance=to_let_property_instance, for_sale_property_instance=for_sale_property_instance)
                                raise ValidationError("File is not an image. Please upload images only!")

                            if image.size > max_image_size:
                                self.del_property_instance(for_sale=for_sale, to_let_property_instance=to_let_property_instance, for_sale_property_instance=for_sale_property_instance)
                                raise ValidationError("You cannot upload an image over 1MB in size!")
                                
                            if not image.content_type.startswith('image') and image.size > max_image_size:
                                image_list.append('image')

                        self.create_property_image_instance(for_sale=for_sale, image=image_list, for_sale_property_instance=for_sale_property_instance, to_let_property_instance=to_let_property_instance)
                    else:
                        self.del_property_instance(for_sale=for_sale, to_let_property_instance=to_let_property_instance, for_sale_property_instance=for_sale_property_instance)
                        raise ValidationError("You can only upload 12 images per property!")
                        message = f"There was an error: {e}. Please try again."
                        return render(request, 'doormot_property_listing/upload_property.html',
                                  {'user': user, 'user_type': user_type, 'allowed_user_type': allowed_user_type,
                                   'form': form, 'name': name, 'message': message})

                except ValidationError as e:                              
                    # handle validation error
                    message = f"There was an error: {e}. Please try again."
                    return render(request, 'doormot_property_listing/upload_property.html',
                                  {'user': user, 'user_type': user_type, 'allowed_user_type': allowed_user_type,
                                   'form': form, 'name': name, 'message': message})
                except Exception as e:
                    message = f"There was an error: {e}. Please start over again!"
                    return render(request, 'doormot_property_listing/upload_property.html',
                                  {'user': user, 'user_type': user_type, 'allowed_user_type': allowed_user_type,
                                   'form': form, 'name': name, 'message': message})

                success_message = "Congratulations, you have uploaded a property successfully! "                    
                return render(request, 'doormot_property_listing/upload_property.html',
                              {'user': user, 'user_type': user_type, 'allowed_user_type': allowed_user_type,
                               'form': form, 'name': name, 'success_message': success_message})

            else:
                form_error = form.errors
                values = form_error.values()
                message = f"Form validation Error(s):"
                return render(request, 'doormot_property_listing/upload_property.html',
                              {'user': user, 'user_type': user_type, 'allowed_user_type': allowed_user_type,
                               'form': form,'name': name, 'message': message, 'values':values})

    def del_property_instance(self, for_sale, to_let_property_instance, for_sale_property_instance):
        self.for_sale = for_sale
        self.for_sale_property_instance = for_sale_property_instance
        self.to_let_property_instance = to_let_property_instance
        if self.for_sale == "No":
            self.to_let_property_instance.delete()
        if self.for_sale == "Yes":
            self.for_sale_property_instance.delete()

    # Create image instance
    def create_property_image_instance(self, for_sale, image, for_sale_property_instance, to_let_property_instance):
        self.for_sale = for_sale
        self.for_sale_property_instance = for_sale_property_instance
        self.to_let_property_instance = to_let_property_instance
        self.image = image        
        if self.for_sale == "Yes":
            property_image_instance = self.For_Sale_Properties_Images.objects.create(
                connected_property = self.for_sale_property_instance,
                images = self.image
                )
        elif self.for_sale == "No":
            property_image_instance = self.To_Let_Properties_Images.objects.create(
                connected_property = self.to_let_property_instance,
                images = self.image
                )
