{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'doormot_app/generated.css' %}">
    <script src="{% static 'doormot_reg_users/main.js' %}"></script>
    <script src="{% static 'doormot_app/base_main.js' %}"></script>

    
    {% if title %}
    <title>Doormot - {{ title }} </title>
    {% else %}
    <title> Doormot </title>
    {% endif %}
    
  </head>
  <body class="bg-slate-100 space-y-56">
    <div class="container">
      <div class="py-20">
        {% block free-section %}
        <div class="flex justify-center items-center md:py-10">

          <div class="w-2/5 border-full border-2 border-purple-950">
              <div class="overflow-hidden h-96 p-2">
                  <img src="{% static 'doormot_app/blog-1.jpg' %}"  alt="The house image" class="w-full h-full object-cover">
              </div>
          </div>
          
          <div class="p-5 mx-5 border border-full rounded-lg shadow-md shadow-gray-800  bg-slate-200 w-1/2">
            {% if message %}
            <div class="text-center text-red-700 border border-red-700 text-sm font-bold p-4">
              <p>{{ message }}</p>
              <p>Please register an account and then you can log in.</p>
              <p class="py-2">If you have mistaken the account type <br> please return to the login page and use the appropraite account type.</p>
              <p>Thank you for your cooperation!</p>
            </div>
            {% endif %}
            
            {% if property_more_details_failed_message %}
            <div class="text-center text-red-700 border border-red-700 text-sm font-bold p-4">
              <p>{{ property_more_details_failed_message }}</p>
            </div>
            {% endif %}
      
              <div class="p-2 mx-5 justify-center ">
                  <form id="typeForm" method="get" class="p-4 m-2" action="#">
                      <legend class="py-1 my-2 text-center bg-orange-600 text-white font-extrabold text-sm">To Learn More About Which Account Type Best Fits For You<br> Please Select An Account Type And Submit</legend>
                      <select id="userTypeSelect" name='user_type' class="bg-purple-950 text-white text-center w-full p-1">
                          <option value="Individual_owner">Individual Owner</option>
                          <option value="Private_org_owner">Private Organization Owner</option>
                          <option value="Individual_buyer">Individual Buyer</option>
                          <option value="Private_org_buyer">Private Org Buyer</option>
                          <option value="Individual_tenant">Individual Tenant</option>
                          <option value="Private_org_tenant">Private Org Tenant</option>
                          <option value="Official_agent">Official Agent</option>
                          <option value="Independent_agent">Independent Agent</option>
                      </select>
                      <div class="flex justify-center items-center py-2">
                          <button type="submit" class="bg-purple-700 hover:bg-orange-600 border border-orange-600 rounded-md text-white text-sm px-4 py-1">Submit Account Type</button>
                      </div>
                  </form>
              </div>
  
          </div>
      </div>
        {% endblock free-section %}
      </div>
      


        <!--Nav Bar Main Section-->
        <div class="flex fixed top-0 justify-between w-screen border shadow-md shadow-gray-800 bg-purple-950">

          <!----logo Section-->
          <div class="px-3">
            <div class="text-lg md:text-xl font-extrabold text-orange-600">
             <a href="{% url 'doormot-home' %}"><span>Doormot</span></a>
            </div>
          </div>
  
          <!----nav-bar menu section-->
          <div class="p-x flex justify-between" id="content-box">

            <div class="p-x m-2">
              <ul class="text-xs md:text-lg flex space-x-3 md:space-x-5 text-white"  id="navlist">

                {% block navlist %}
                <!-- <li class="hover:text-orange-600 hover:font-extrabold"><a href="{% url 'doormot-reg-users-register' %}" class="active">REGISTER</a></li> -->
                  
                <li class="relative group">
                    <a href="#" class="hover:text-orange-600 hover:font-extrabold">OWNER</a>
                    <ul class="absolute hidden left-0 mt-2 space-y-2 bg-purple-950 border rounded-lg shadow-lg group-hover:block">
                        <li><a href="{% url 'doormot-reg-users-individual-owner' %}" class="block px-4 py-2 hover:text-orange-600 hover:font-extrabold">Individual</a></li>
                        <li><a href="{% url 'doormot-reg-users-private-organization-owner' %}" class="block px-4 py-2 hover:text-orange-600 hover:font-extrabold">Organization</a></li>
                        <li><a href="#" class="block px-4 py-2 hover:text-orange-600 hover:font-extrabold">Government</a></li>
                    </ul>
                </li>
                
                <li class="relative group">
                    <a href="#" class="hover:text-orange-600 hover:font-extrabold ">TENANT</a>
                    <ul class="absolute hidden mt-2 space-y-2 bg-purple-950 border rounded-lg shadow-lg group-hover:block">
                        <li><a href="{% url 'doormot-reg-users-individual-tenant' %}" class="block px-4 py-2 hover:text-orange-600 hover:font-extrabold">Individual</a></li>
                        <li><a href=" {% url 'doormot-reg-users-private-organization-tenant' %}" class="block px-4 py-2 hover:text-orange-600 hover:font-extrabold">Organization</a></li>
                        <li><a href="#" class="block px-4 py-2 hover:text-orange-600 hover:font-extrabold">Government</a></li>
                    </ul>
                </li>
                
                <li class="relative group">
                    <a href="#" class="hover:text-orange-600 hover:font-extrabold">BUYER</a>
                    <ul class="absolute hidden mt-2 space-y-2 bg-purple-950 border rounded-lg shadow-lg group-hover:block">
                        <li><a href="{% url 'doormot-reg-users-individual-buyer' %}" class="block px-4 py-2 hover:text-orange-600 hover:font-extrabold">Individual</a></li>
                        <li><a href="{% url 'doormot-reg-users-private-organization-buyer' %}" class="block px-4 py-2 hover:text-orange-600 hover:font-extrabold">Organization</a></li>
                    </ul>
                </li>
                
                <li class="relative group">
                    <a href="#" class="hover:text-orange-600 hover:font-extrabold">AGENT</a>
                    <ul class="absolute hidden mt-2 space-y-2 bg-purple-950 border rounded-lg shadow-lg group-hover:block">
                        <li><a href="{% url 'doormot-reg-users-official-agent' %}" class="block px-4 py-2 hover:text-orange-600 hover:font-extrabold">Official</a></li>
                        <li><a href="{% url 'doormot-reg-users-independent-agent' %}" class="block px-4 py-2 hover:text-orange-600 hover:font-extrabold">Independent</a></li>
                    </ul>
                </li>
                
                <li class="hover:text-orange-600 hover:font-extrabold"><a href="#">PARTNER</a></li>
                {% endblock navlist %}
              </ul>
            </div>
    
            <!----log menu section-->
            <div class="mx-8 md:mx-11">
              <ul class="flex space-x-2 md:space-x-4 text-white text-xs">
                {% block navlist-right-header %}
                <li class="m-2 border border-full justify-center items-center border-orange-600 rounded-full px-2 py-1 bg-purple-700 hover:bg-orange-600"><a href="{% url 'doormot-reg-users-login' %}"><small>Login</small></a></li>
                <li class="m-2 border border-full justify-center items-center border-orange-600 rounded-full px-2 py-1 bg-purple-700 hover:bg-orange-600"><a href="{% url 'doormot-home' %}"><small>Home</small></a></li>
                {% endblock navlist-right-header %}                
              </ul>
            </div>
          </div>
  
        </div> 
    </div>
  
    <!--######################################### Footer Section Starts ####################################-->
    <section>
      <div class="footer bg-purple-950 w-screen p-3 bottom-0 fixed">

        </div>

    </section>
    
  </body>
</html>


