{% extends  "doormot_property_listing/listing_base_temp.html" %}
{% load static %}



<!--Search Bar Section-->
{% block serach-bar-section %}
<button type="button" id="filter-icon" onmouseover="displayFilterName()"  onclick="displayFilteredSearchBox2(); hideFilteredPropBox2()" class="bg-purple-700 hover:bg-orange-600 border border-orange-600 p-1 relative">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" style="width: 24px; height: 24px; fill: #ffffff;">
        <rect x="4" y="3" width="20" height="2"/>
        <rect x="4" y="7" width="16" height="2"/>
        <rect x="4" y="11" width="12" height="2"/>
        <rect x="4" y="15" width="8" height="2"/>
        <rect x="4" y="19" width="4" height="2"/>
    </svg>
    <p class="text-sm text-white absolute w-20 h-5 bg-purple-950 hidden" id="filter-name">Filter-Search</p>    
</button>
{% if user.is_authenticated and user_type in allowed_user_type %}
<ul>
    <li class="m-2 border border-full justify-center items-center border-orange-600 px-2 py-1 bg-purple-700 hover:bg-orange-600 relative" onmouseover="displayUploadPropertyLabel()">
        <a href="{% url 'doormot-property-listing-upload-property' %}">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="text-white">
                <path d="M12 19V6M5 12l7-7 7 7"/>
            </svg>
        </a>
        <p class="text-sm text-white absolute w-40 h-5 inset-0 bg-purple-950 hidden" id="upload-property-label">Upload Property</p>
    </li>
</ul>
{% endif %}
{% endblock serach-bar-section %}



<!--Top Section-->
{% block top-section %}
<div class="flex">
    <div class="border-2 border-purple-950 bg-white w-screen h-screen pt-24 hidden px-4 overflow-scroll" id="filter-choices-box2">
        
        <form class="p-4" method="get" action="{% url 'doormot-property-filter-upload-property' %}">
            {% csrf_token %}
            <div class="bg-orange-600 shadow-md shadow-slate-700 p-4">
                <div class="m-2 p-2 border rounded-md shadow-sm shadow-white bg-purple-950 items-center">
                    <p class="mt-4 text-center font-sans text-sm text-white">What type of property are you looking for?</p>
                    <div class="flex justify-center">
                        <div class="flex justify-between border rounded-md shadow-sm shadow-orange-600 p-2 m-2 w-60 bg-white">   
                            <div class="flex items-center justify-between">
                                <input type="radio" name="for_sale" value="Yes">
                                <label class="pl-2">For Sale</label>          
                            </div>
                            <div class="flex items-center justify-between">
                                <input type="radio"  name="for_sale" value="No">
                                <label class="pl-2">To Let</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="p-2 m-2 border rounded-md shadow-sm shadow-orange-600">
                <div class="flex gap-3 pb-2">
                    <label>State:</label>
                    <input type="text" placeholder="State" name="state" class="w-40 border pl-2">
                </div>
                <div class="flex gap-3 pb-2">
                    <label>City/Town:</label>
                    <input type="text" placeholder="town" name="city" class="w-40 border">
                </div>
                <div class="flex gap-3 pb-2">
                    <label>Local Government:</label>
                    <input type="text" placeholder="Local Government" name="local_government" class="w-40 border">
                </div>
                <div>
                    <label class="pr-2">Zip/Postal Code:</label>
                    <input type="number" min="0" step="1" class="border w-40" name="zip_code">
                </div>
            </div>

            <div class="p-2 m-2 border rounded-md shadow-sm shadow-orange-600">
                <div class="flex gap-3 pb-2">
                    <label>Property Serial Number:</label>
                    <input type="text" placeholder="Property Serial Number" name="property_id" class="w-60 border">
                </div>
            </div>

            <div class="m-2 p-2 border rounded-md shadow-sm shadow-orange-600">
                <label>Your prefer property owner:</label>
                <select class="px-2 py-1 bg-purple-950 text-sm text-white text-center" name="owned_by">
                    <option selected></option>
                    <option>Individual</option>
                    <option>Cooperate Body</option>
                    <option>Government</option>
                </select>
            </div>
            <div class="m-2 p-2 border rounded-md shadow-sm shadow-orange-600">
                <label>Property status:</label>
                <select class="px-2 py-1 bg-purple-950 text-sm text-white text-center" name="property_status">
                    <option selected></option>
                    <option>New</option>
                    <option>Renovated</option>
                    <option>Old</option>
                </select>
            </div>

            <div class="m-2 p-2 border rounded-md shadow-sm shadow-orange-600">
                <label>Type of property:</label>
                <select class="p-1 bg-purple-950 text-sm text-white text-center" name="property_type">
                    <option selected></option>
                    <option  id="Com-option-1" onclick="showCommercialPropSub2()">Bungalow</option>
                    <option  id="Com-option-2" onclick="showCommercialPropSub2()">Duplex</option>
                    <option  id="Com-option-3" onclick="showCommercialPropSub2()">Detached House</option>
                    <option  id="Com-option-4" onclick="showCommercialPropSub2()">Terraced House</option>
                    <option  id="Com-option-5" onclick="showCommercialPropSub2()">Block of Flats</option>
                    <option  id="Com-option-6" onclick="showCommercialPropSub2()">Mansion</option>
                    <option  id="Com-option-7" onclick="showCommercialPropSub2()">Self-contained Apartment</option>
                    <option id="Commercial-property" onclick="showCommercialPropSub()">Commercial Building</option>
                    <option id="Com-option-8" onclick="showCommercialPropSub2()">Residential Estate</option>
                </select>
            </div>

            <div class="m-2 p-2 border rounded-md shadow-sm shadow-orange-600 hidden" id="Commercial-property-sub">
                <label>Commercial Prop Sub-Type:</label>
                <select class="p-1 bg-purple-950 text-sm text-white text-center" name="sub_commercial_property_type">
                    <option selected></option>
                    <option>Shopping Complex</option>
                    <option>Office Space</option>
                    <option>Shop Units</option>
                    <option>School Building</option>
                    <option>Hospital Building</option>
                    <option>Petrol Station</option>
                    <optio>Restaurant Building</optio>
                </select>
            </div>



            <div class="m-2 p-2 border rounded-md shadow-sm shadow-orange-600">
                <div class="m-2">
                    <label class="pr-2">Min price:</label>
                    <input type="number" min="0" step="1" value="0" class="border w-40" name="min_price">
                </div>
                <div>
                    <label class="pr-2">Max price:</label>
                    <input type="number" min="0" step="1" value="1000000000000000" class="border w-40" name="max_price">
                </div>
            </div>

            <div class="m-2 p-2 border rounded-md shadow-sm shadow-orange-600">
                <label>Available For Lease:</label>
                <input type="checkbox" value="True" name="available_for_lease">
            </div>
            <div class="m-2 p-2 border rounded-md shadow-sm shadow-orange-600">
                <p>Stable Power Supply:</p>
                <div class="flex justify-between px-20">
                    <div>
                        <input type="radio" value="Yes" name="good_power_supply">
                        <label>Yes</label>
                    </div>
                    <div>
                        <input type="radio" value="No" name="good_power_supply">
                        <label>No</label>
                    </div>
                </div>
            </div>
            <div class="m-2 p-2 border rounded-md shadow-sm shadow-orange-600">
                <p>Toilet Is Available:</p>
                <div class="flex justify-between px-20">
                    <div>
                        <input type="radio" value="Yes" name="toilet_is_available">
                        <label>Yes</label>
                    </div>
                    <div>
                        <input type="radio" value="No" name="toilet_is_available">
                        <label>No</label>
                    </div>
                </div>
            </div>
            <div class="m-2 p-2 border rounded-md shadow-sm shadow-orange-600">
                <p>Owner lives in:</p>
                <div class="flex justify-between px-20">
                    <div>
                        <input type="radio" value="Yes" name="owner_lives_in_property">
                        <label>Yes</label>
                    </div>
                    <div>
                        <input type="radio" value="No" name="owner_lives_in_property">
                        <label>No</label>
                    </div>
                </div>
            </div>

            <div class="justify-center items-center flex m-2">
                <button type="submit" class="bg-purple-700 hover:bg-orange-600 border border-orange-600 rounded-md text-white text-sm px-4 py-1">Filter</button>
            </div>
        </form>
    </div>



        
    <div class="block w-screen" id="filtered_property_box2">
        <div class="bg-orange-600 shadow-md shadow-slate-700 pt-16">
            
            <form id="typeForm" method="get" class="p-2 pt-2 justify-center items-center flex" action="{% url 'doormot-property-listing-general-listing' %}">
                {% csrf_token %}
                <div class="m-2 p-2 border rounded-md shadow-md shadow-white bg-purple-950 flex gap-2">
                    <div class="text-center">
                        <p class="text-white text-sm ">No of proprties to load</p>
                        <input type="number" min="0" step="1" class="border m-2 sm:w-20 md:w-28 text-center h-8" name="desired_no_of_proprties_to_load">
                    </div>
                    <div class="text-center">
                        <p class="text-center font-sans text-sm  text-white">Type of property</p>     
                        <div class="flex justify-between border text-sm rounded-md shadow-sm shadow-orange-600 p-2 m-2 w-48 bg-white">
                            <div class="flex items-center justify-between">
                                <button type="submit" id="for_sale" name="for_sale" value="No" class="bg-purple-700 hover:bg-orange-600 border border-orange-600 rounded-md text-white text-sm px-4 py-1">To Let</button> 
                            </div>
                            <div class="flex items-center justify-center">
                                <button type="submit" id="for_sale" name="for_sale" value="Yes" class="bg-purple-700 hover:bg-orange-600 border border-orange-600 rounded-md text-white text-sm px-4 py-1">For Sale</button>       
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="bg-purple-950 text-white text-center p-2 mt-3 h-10 overflow-hidden">
            <p>{{ filter_property_tag }} Properties Filtered Search - filter meters: <span class="text-xs">{{ filter_conditions }}</span></p>
        </div>


       
        {% if filtered_property_models %} 
        <div class="px-4 flex flex-wrap pt-6">
            {% for property_model in filtered_property_models %}
            <div class="w-1/3 md:w-1/6 bg-white px-2 py-3">
                <div class="text-center bg-purple-950 text-white text-sm w-full h-12 overflow-hidden p-2" id="property-display-box-{{ property_model.id }}" onmouseover="displayPropertyDetailsOverlay('{{ property_model.id }}')">
                    <small>{{ property_model.title }}</small>
                </div>
                <div class="border border-full shadow-md shadow-gray-600 overflow-hidden relative">
                    <div class="border border-full shadow-md shadow-gray-600 overflow-hidden p-2">
                        {% if for_sale == 'Yes' %}
                        {% with first_image=property_model.for_sale_properties_images_set.first %}
                        <div class="m-1 overflow-hidden h-48">
                            <img src="{{ first_image.images.url }}" alt="No image uploaded for this product" class="w-full h-48 rounded-sm object-cover">
                        </div>
                        {% endwith %} 
                        {% endif %}
                        
                        {% if for_sale == 'No' %}
                        {% with first_image=property_model.to_let_properties_images_set.first %}
                        <div class="m-1 overflow-hidden h-48">
                            <img src="{{ first_image.images.url }}" alt="No image uploaded for this product" class="w-full h-48 rounded-sm object-cover">
                        </div>
                        {% endwith %} 
                        {% endif %}

                        {% if for_sale == None %}
                        <div class="m-1 overflow-hidden h-48">
                            <img src="{% static 'doormot_app/r3.png' %}" alt="No image uploaded for this product" class="w-full h-full object-cover">
                        </div>                 
                        {% endif %}
                        <div class="hidden" id="property-details-overlay-{{ property_model.id }}">
                            <div class="font-serif flex gap-4 text-sm bg-purple-950 text-white p-2 absolute inset-0 opacity-80 w-full h-full">
                                <div>
                                    <div>
                                        <div>
                                            <small>Property ID: {{ property_model.property_id }}</small>
                                        </div>
                                        <div>
                                            <small>Uploaded by: {{ property_model.uploaded_by }}</small>
                                        </div>
                                        <div>
                                            <small>Owned By: {{ property_model.get_owned_by_display }}</small>
                                        </div>
                                        {% if for_sale == 'Yes' %}
                                            <div>
                                                <small> {{ price_tag }} Price: $ {{ property_model.asking_price }}</small>
                                            </div>
                                            <div>
                                                <small>Is Negotiable: {{ property.is_negotiable }}</small>
                                            </div>
                                        {% endif %}
                                        
                                        {% if for_sale == 'No' %}
                                            <div>
                                                <small> {{ price_tag }} Price: $ {{ property_model.rent_price }}</small>
                                            </div>
                                            <div>
                                                <small>Available For Lease: {{ property_model.is_available_for_lease }}</small>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
    
                                <div>
                                    <div>
                                        <small> State: {{ property_model.state }}</small>
                                    </div>
                                    <div>
                                        <small> City/Town: {{ property_model.city }}</small>
                                    </div>
                                    <div>
                                        <small> LGA: {{ property_model.local_government }}</small>
                                    </div>
                                    <div>
                                        <small> Zip-Code: {{ property_model.zip_code }}</small>
                                    </div>
                                    <div>
                                        <small>Address: {{ property_model.address }}</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="flex justify-center gap-4 p-2">
                            <button action="#" method="get" id="book-mark-{{ property_model.id }}" onclick="changeBookMarkIcon('{{ property_model.id }}')" class="border border-gray-600 p-1">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M17.593 3.322c1.1.128 1.907 1.077 1.907 2.185V21L12 17.25 4.5 21V5.507c0-1.108.806-2.057 1.907-2.185a48.507 48.507 0 0111.186 0z" />
                                </svg>  
                            </button>
                            <button action="#" method="get" id="cart" class="border border-gray-600 p-1 rounded-sm">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 00-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 00-16.536-1.84M7.5 14.25L5.106 5.272M6 20.25a.75.75 0 11-1.5 0 .75.75 0 011.5 0zm12.75 0a.75.75 0 11-1.5 0 .75.75 0 011.5 0z" />
                                </svg>
                            </button> 
                        </div>

                        <div class="flex justify-end mb-2">
                            <form method="get" action="{% url 'doormot-property-more-details' %}" enctype="multipart/form-data">
                                {% csrf_token %}
                                <input type="text" value="{{ property_model.id }}" name="property_model_id" class="hidden">
                                <input type="text" value="{{ for_sale }}" name="for_sale" class="hidden">
                                <button class="flex text-xs hover:text-red-600 hover:font-bold text-black font-thin" type="submit">
                                    <p>More details</p>
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="15" height="20" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                        <path d="M5 12h13M12 5l7 7-7 7"/>
                                    </svg>   
                                </button>
                            </form>
                        </div> 
                                            
                        <div class="bg-orange-600 h-2">                           
                        </div>
                        
                    </div>
                </div>
                  
            </div>
            {% endfor %}  
        </div>
        <div class="justify-center items-center flex">
            <button type="submit" class="bg-purple-700 hover:bg-orange-600 border border-orange-600 rounded-md text-white text-sm px-4 py-1">Load More</button>
        </div> 
        {% else %}
        <div class="bg-white text-red-600 font-extrabold text-xl text-center p-6 mt-6">
            <h6>There is no property that match your filter conditions!</h6>
        </div> 
        {% endif %} <!-- endif for filtered_property_models -->

           
        
    </div>

</div>
{% endblock top-section %}



{% block free-section %}
<div class="bg-black w-full grid grid-cols-2 py-10">
    <div class="px-3 py-1 m-2 col-span-1">
        <div class="text-5xl font-serif py-2 m-2 font-extrabold text-orange-600 text-center bg-black rounded-lg">
            <h6>Discover Your<br>Perfect <span class="text-white">HOME</span></h6>
        </div>
    </div>
    <div class="text-white px-3 py-2 m-2 col-span-1">
        <p>Helping renters and buyers find the perfect property.</p>
        <p>Explore and experience property rentals and sales in the most modern way</p>
        <div class="text-3xl font-serif py-2 m-2 font-extrabold text-white text-start bg-black rounded-lg">
            <h6>Buy, Sell, Rent and Lease With Ease!</h6>
        </div>
    </div>
</div>
{% endblock free-section %}



